.button {
    width: 200px;
    height: 60px;
    background-color: #d21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    font-weight: bold;
    margin-top: 25px;
    outline: none;
}

.button:hover {
    background-color: #fff;
    color: #000;
}